* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

header {
  width: 97, 5vw;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 35px;
  padding-left: 35px;
}

#logo {
  color: #4da985;
  font-size: 32px;
  font-weight: 900;
}

a {
  text-decoration: none;
}

#cart {
  margin-right: 20px;
}

#container {
  height: 91.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eff2f1;
  
}

#cartContainer {
  background-color: white;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#cartTitle {
    margin-top: 30px;
}

.itemContainer{
  width: 80%;
}

.empty{
background-color: #f5eeee;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item {
  background-color: #f5eeee;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}



#total {
  width: 100%;
  background-color: #02153c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px 10px;
border-bottom-right-radius: 10px 10px;
}

#sum{
margin-left: 20px;
}

#purchase{
 margin-right: 20px;   
}

button {
  background-color: #4da985;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
