*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    width: 100vw;
}

header {
    width: 97,5vw;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
    padding-left: 35px;
}

#logo{
    color: #4DA985;
}

a{
    text-decoration: none;
}

#cart{
    margin-right: 20px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    color: white;
}

#boxesContainer{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    color: black;
}

#box {
    background-color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
    padding: 30px;
    border-radius: 10px;
}

.find{
    justify-content: space-between;
    align-items: center;
}

#departure{
width: 90%;
padding: 10px;
background-color: #EFF2F1;
border: none;
border-bottom: 1px solid black;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
}

#arrival{
width: 90%;
padding: 10px;
background-color: #EFF2F1;
border: none;
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;

}

#calendar{
width: 90%;
margin-top: 30px;
padding: 10px;
background-color: #EFF2F1;
border: none;
border-radius: 5px;

}

button{
background-color: #4DA985;
color: white;
border: none;
border-radius: 5px;
width: 90%;
padding: 10px;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: scroll;
}

img{
    width: 40%;
    height: auto;

}

#line{
    background-color: #4DA985;
    height: 2px;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.tripContainer {
  background-color: #f5eeee;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.book{
    width: 20%;
    padding: 5px;
}